<%-include("partials/header.ejs")  %> 
    <div class="container-home">
        <h1>12th Marks Calculator</h1>
        <h3>*Select the Group*</h3>
        <div class="cs-bio">
            <a href="/bio-cs">Bio Maths and Computer Maths</a>
        </div>
        <div class="arts">
            <a href="/arts">Arts and Science</a>
        </div>
        <div class="pure-science">
            <a href="/pure-science">Pure Science</a>
        </div>
<%-include("partials/footer.ejs")  %> 